<div class="admin-default-index">


    <form action="/admin/default/todolists/{{ todolist.id }}/change_max_tasks" method="post" class="">

        <input type="hidden" name="_csrf" value="<?=Yii::$app->request->getCsrfToken()?>" />


        {#<input type="hidden" name="<?= Yii::$app->request->csrfParam; ?>" value="<?= Yii::$app->request->csrfToken; ?>" />#}

        <div class="form-group">
            <label for="">Set max tasks</label>
            <input type="text" name="value" value="{{ todolist.max_tasks }}">
            <input type="submit" value="Submit">
        </div>
    </form>

    <table class="table">
        <thead>
        <tr class="tableheader">
            <th style="width:40px">#</th>
            <th style="width:140px">Name</th>
            <th style="width:140px">User_id</th>
            <th style="width:140px">Max tasks</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{ todolist.id }}</th>
            <th>{{ todolist.name }}</th>
            <th>{{ todolist.user_id }}</th>
            <th>{{ todolist.max_tasks }}</th>
        </tr>
        </tbody>
    </table>

    <table id="table_tasks" class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="tableheader">
            <td>Action name</td>
            <td>Done</td>
        </tr>
        </thead>

        <tbody>
        {% for task in todolist.tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{% if task.done %}'✅' {% else %} '⚿' {% endif %}</td>
                {#<td>{{ (task.done ? '✅' : '⚿') }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>

