<div class="admin-default-index">


    <p>Table todolists</p>
    <table id="table_todolists" class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="tableheader">
            <th style="width:40px">#</th>
            <th style="width:140px">Name</th>
            <th style="width:140px">User_id</th>
            <th style="width:140px">Max tasks</th>
        </tr>
        </thead>
        <tbody>
        {% for todolist in todolists %}
            <tr>
                <th><a href="/admin/default/todolists/{{ todolist.id }}">{{ todolist.id }}</a></th>
                <th>{{ todolist.name }}</th>
                <th>{{ todolist.user_id }}</th>
                <th>{{ todolist.max_tasks }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script !src="">
        $(function () {
            $("#table_todolists, #table_tasks").DataTable();
        });
    </script>

</div>
